.boxuserdelete {
    display: flex;
    flex-direction: row;
}

.boxuserlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    border: 1px solid #4b4e93;
    border-radius: 8px;
    padding: 0.2em 0.4em;
    margin-top: 0.4em;
    margin-left: 0.4em;
}


.textuser {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    color: #4b4e93;
    margin-top: 0.2em;
}

.boxbin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    
}

.fa-trash-can {
    font-size: 4rem;
    color: red;
    cursor: pointer;
}

.infodelete {
   
    width: 100px;
    height: 50px;
    background-color: #4b4e93;
}

@media (max-width: 576px) {
    .textuser, .fa-trash-can {
        font-size: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 1200px){
    .textuser, .fa-trash-can {
        font-size: 3rem;
    }
}