.wrapperchat {
    position: relative;
    width: 100%;
    height: 100%
}

.boxchat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat {
    margin-top: 2em;
    position: relative;
    width: 80%;
    height: 600px;
    border-radius: 16px;
    background-color: #000c1a;
    box-shadow: 5px 5px 10px #000c1a;
}

.chatheader {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid white;
}

.chatbody, .chatbodyuser {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    scrollbar-color: #4b4e93 #000c1a;
    scrollbar-width: 20px;
}

.chatbodyuser {
    height: 85%;
}

.iconmessage {
    position: absolute;
    top: 25%;
    left: 2%;
    font-size: 4rem;
    color: #4b4e93;
    display: flex;
    flex-direction: row;
}

.iconmessagetext {
    margin-left: 0.2em;
    color: white;
}

@media (max-width: 576px) {
    .chat {
        height: 400px;
    }

    .iconmessage {
        top: 36%;
        left: 6%;
        font-size: 2rem;
    }

}